body{
    background-color: #0D1117;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    font-size: 48px;
}
form{
    display: flex;
    justify-content: center;
}
form ul{
    list-style: none;
}
button{
    display: inline;
    width: 198px;
}

.formItem{
    display: grid;
    grid-template-columns: 40px 1fr;
    padding: 5px 0 5px 0;
}
#error{
    text-align: center;
    color: red;
}